biocframe>=0.5.0
summarizedexperiment>=0.4.0
singlecellexperiment>=0.4.2
multiassayexperiment>=0.4.2
genomicranges
biocutils
rds2py>=0.4.0
scranpy
singler
numpy
scipy
pandas
jupyter-cache
rich
jupyterlab
seaborn
session-info
natsort
anndata
mudata
delayedarray[dask]